data/economy.dtd

<!ELEMENT ProductionOption (Cargo, Cargo)>
<!ATTLIST ProductionOption>

<!ELEMENT Cargo (CargoType+)>
<!ATTLIST Cargo
	type (in|out) #IMPLIED
>

<!ELEMENT vector ((CargoType|Cargo|ProductionOption)+)>
<!ATTLIST vector
	type CDATA #REQUIRED
>
<!ELEMENT CargoType (#PCDATA)>
<!ATTLIST CargoType
	name CDATA #REQUIRED
	category CDATA #REQUIRED
	mass CDATA #REQUIRED
	volume CDATA #REQUIRED
	price CDATA #REQUIRED
>
